 #a {
    color: gold;
}
#b {
    text-decoration: underline;
}

body {
    margin: 4% 0 0 0;
    padding: 0;
    font-family: 'sans-serif', 'Verdana', 'Segoe UI', 'Tahoma', 'Geneva';
    background-color: #fbc531;
}

nav {
    margin-left: 89%;
    background-color: #d63031;
    padding: 0.75% 3% 1% 3%;
    border-radius: 15px 50px;
    position: fixed;
}

#navBarCon {
    text-align: center;
    color: ghostwhite;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
#navBarCon:hover {
    font-size: 18px;
    color: gold;
}

.main {
    background-color: #d63031;
    margin: 0% 20% 0% 1.5%;
    padding: 2% 4% 2% 2%;
    border-radius: 30px 50px 30px 5px;
    color: white;
}

img {
    width: 40%;
    height: auto;
    border: 3px hidden gold;
}
#st {
    margin-right: 8%;
    margin-left: 1%;
}
#nd {
    margin-left: 9%;
}
img:hover {
    border-style: solid;
}

#line {
    border: 2px solid #fbc531;
    margin-top: 3%;
    margin-bottom: 3%;
}

header {
    text-align: center;
    margin-bottom: 2%;
    font-size: 25px;
    color: black;
}

footer {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
    font-size: 14px;
}